<p>Bonjour,</p>

<p>Suite à l’évaluation réalisée par {{ source_name }} le {{ "now"|date("d/m/Y") }} veuillez cliquer sur le lien suivant <a href="{{ pia_url }}">{{ pia_name }}</a> afin d'accéder au PIA que l’évaluateur a considéré comme "{{ evaluation_state }}".</p>

<p>Cordialement,</p>
