<p>Bonjour,</p>

<p>Suite à l’évaluation réalisée par {{ source_name }} le {{ "now"|date("d/m/Y") }} veuillez cliquer sur le lien suivant <a href="{{ processing_url }}">{{ processing_name }}</a> afin de compléter le PIA que l’évaluateur a considéré comme "{{ evaluation_state|default('') }}".</p>

<p>Cordialement,</p>
