<p>Bonjour,</p>

<p>La fiche de traitement "{{ object_name }}" vous a été affecté par {{ source_name }} le {{ "now"|date("d/m/Y") }}.</p>

<p>Pour y accéder, veuillez cliquer sur le lien suivant : <a href="{{ source_url }}">{{ object_name }}</a>.</p>

<p>Cordialement,</p>
